n8n/workflows/agent_v2.json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {
        "binaryPropertyName": "~/Downloads/iris.zip"
      },
      "type": "n8n-nodes-base.compression",
      "typeVersion": 1.1,
      "position": [
        -448,
        192
      ],
      "id": "b8e72f26-dd8b-4152-a7a0-e88647aca1df",
      "name": "Compression",
      "disabled": true
    },
    {
      "parameters": {
        "model": "gemma4:31b",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
      "typeVersion": 1,
      "position": [
        704,
        240
      ],
      "id": "4606201f-9f98-4dc0-a68f-40b97ad9b6b5",
      "name": "Ollama Chat Model",
      "credentials": {
        "ollamaApi": {
          "id": "K3ZYQX7oQlYxbRn2",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {
        "url": "https://www.kaggle.com/api/v1/datasets/download/uciml/iris",
        "options": {
          "redirect": {
            "redirect": {}
          },
          "response": {
            "response": {
              "responseFormat": "file",
              "outputPropertyName": "~/Downloads/iris.zip"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -656,
        192
      ],
      "id": "50d9a4dc-540f-4d62-b53a-e9e39d44ed8a",
      "name": "HTTP Request",
      "disabled": true
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.4,
      "position": [
        448,
        0
      ],
      "id": "b60e4254-79bd-42a6-8e08-8a80e4f24abe",
      "name": "When chat message received",
      "webhookId": "e6577196-c90e-4660-adc4-f9c32e76f01b"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=\nТВОЙ ГЛАВНЫЙ ЗАПРОС: \"{{ $json.chatInput }}\"\n\nYou are a Python data analysis assistant. You have access to a code execution tool.\n\nWhen the user asks to analyze data, build a model, create a chart, or do any computation — write Python code and send it to the /execute endpoint.\n\n## Available libraries\nnumpy, pandas, scikit-learn, matplotlib, seaborn, catboost\n\n## Rules for writing code\n- Always assign the final result to a variable named `result`\n- Use print() for intermediate output you want to see\n- Do not use plt.show() — save charts to file instead:\n  plt.savefig(\"/app/data/chart.png\", dpi=150, bbox_inches=\"tight\")\n- All file paths use /app/data/ prefix\n- Write clean, complete, runnable code — no placeholders, no \"TODO\"\n- If the task requires multiple steps, do them all in one code block\n\n## Response format\nAfter receiving the execution result:\n- If success=true: explain what the code did and summarize the result\n- If success=false: read the error, fix the code, and try again automatically\n- Never show raw JSON from the endpoint to the user\n\n## Example\nUser: \"посчитай среднее по колонке price в /app/data/sales.csv\"\n\nYour code:\nimport pandas as pd\ndf = pd.read_csv(\"/app/data/sales.csv\")\nresult = df[\"price\"].mean()\nprint(f\"Mean price: {result:.2f}\")\n\n## Available data\nAll datasets are located in /app/data/ directory.\nCurrent files:\n- /app/data/dataset.csv — stock news dataset with columns: date, ticker, headline, sentiment\n\nAlways load data with:\nimport pandas as pd\ndf = pd.read_csv(\"/app/data/dataset.csv\")",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        816,
        0
      ],
      "id": "307928eb-43c2-446c-b700-aff9c005cdcc",
      "name": "RODNENKEE DEEBSIG"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        816,
        304
      ],
      "id": "3a1fdba5-fc5f-4d2e-997a-37a767fa7557",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "promptType": "define",
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        736,
        -256
      ],
      "id": "a76575e6-2121-48b0-9c22-16048005929a",
      "name": "Basic LLM Chain"
    },
    {
      "parameters": {
        "url": "http://fastapi:8000/data/files",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.4,
      "position": [
        1024,
        272
      ],
      "id": "8fe74d56-4cb0-497f-9c4e-60aa5dd987ce",
      "name": "@tool GET FILES"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://fastapi:8000/execute",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "code",
              "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters0_Value', `Python code to execute`, 'string') }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.4,
      "position": [
        1296,
        176
      ],
      "id": "adfe6930-ae3b-421d-b1c5-ef342927706c",
      "name": "@tool EXEC"
    }
  ],
  "pinData": {},
  "connections": {
    "Compression": {
      "main": [
        []
      ]
    },
    "Ollama Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "RODNENKEE DEEBSIG",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Compression",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "RODNENKEE DEEBSIG",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "RODNENKEE DEEBSIG",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "@tool GET FILES": {
      "ai_tool": [
        [
          {
            "node": "RODNENKEE DEEBSIG",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "@tool EXEC": {
      "ai_tool": [
        [
          {
            "node": "RODNENKEE DEEBSIG",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "004cc43c-24d3-4f80-91cb-eb18618a733b",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "448ac833fd3e70a1638f7923f54c0cefb8016acb285d5c84b2d2100f6980c11e"
  },
  "id": "TgchuMsxzT9z5W2C",
  "tags": []
}