n8n/workflows/agent_v3_working_dropper.json
{
  "name": "My workflow 3",
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.4,
      "position": [
        -624,
        -64
      ],
      "id": "43ea6614-d423-491f-965e-29c30d57a4f9",
      "name": "When chat message received",
      "webhookId": "3bb3e430-d848-41b7-9c0b-799876e5a169"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://fastapi:8000/execute",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "code",
              "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters0_Value', `Python code to execute`, 'string') }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.4,
      "position": [
        240,
        192
      ],
      "id": "ff2b8af3-d51e-44db-9814-b865354de646",
      "name": "@tool EXEC"
    },
    {
      "parameters": {
        "url": "http://fastapi:8000/data/files",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.4,
      "position": [
        64,
        192
      ],
      "id": "7a864732-17e1-4dcb-9aef-58bd82521b12",
      "name": "@tool GET FILES"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are a file download agent. Your task is to download a dataset from the provided URL.\n\nYou have access to these tools:\n- DOWNLOAD TOOL (POST /data/download) — downloads a file by URL into /app/data\n- EXEC tool — executes Python code\n\nInstructions:\n\n1. Use DOWNLOAD TOOL to download the file:\n   POST /data/download\n   {\n     \"url\": \"<URL from input>\",\n     \"filename\": \"dataset.zip\"\n   }\n   Check that response has \"success\": true\n\n2. If the downloaded file is a zip archive — extract it using EXEC tool:\n   import os, zipfile\n   output = \"/app/data/dataset.zip\"\n   if zipfile.is_zipfile(output):\n       with zipfile.ZipFile(output, \"r\") as z:\n           z.extractall(\"/app/data\")\n       os.remove(output)\n   print(os.listdir(\"/app/data\"))\n\n3. Verify CSV files exist:\n   files = [f for f in os.listdir(\"/app/data\") if f.endswith(\".csv\")]\n   assert len(files) > 0, \"No CSV found — retry!\"\n\n4. Return ONLY this JSON (no other text):\n{\n  \"dataset_path\": \"/app/data/file1.csv, /app/data/file2.csv\"\n}\n\nURL: {{ $json.chatInput }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        -160,
        -64
      ],
      "id": "5a7faac5-5f8c-46c6-aa35-79f22316dc0e",
      "name": "Downloader AGENT"
    },
    {
      "parameters": {
        "model": "gemma4:31b",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
      "typeVersion": 1,
      "position": [
        -464,
        192
      ],
      "id": "d8fc374a-3af2-46bc-8c4d-4b3123e512f0",
      "name": "Gemma4",
      "credentials": {
        "ollamaApi": {
          "id": "K3ZYQX7oQlYxbRn2",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {
        "model": "gemma4:31b",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
      "typeVersion": 1,
      "position": [
        448,
        160
      ],
      "id": "3e7190f2-85d6-4efe-8b53-2efe10be71d3",
      "name": "qwen3-coder",
      "credentials": {
        "ollamaApi": {
          "id": "K3ZYQX7oQlYxbRn2",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {
        "toolDescription": "Use this tool to use server environment, analyze datasets, save datasets locally\n\n",
        "method": "POST",
        "url": "http://fastapi:8000/execute",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "code",
              "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters0_Value', `Python code to execute`, 'string') }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.4,
      "position": [
        768,
        160
      ],
      "id": "41640115-ad4a-419d-a0c9-b713dd5e6c81",
      "name": "@tool EXEC1"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -288,
        192
      ],
      "id": "797962e3-41c7-4e8e-a2ee-c6f4b5a46183",
      "name": "Simple Memory"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        592,
        160
      ],
      "id": "6f72432f-096d-42f5-9b55-df06ba053939",
      "name": "Simple Memory1"
    },
    {
      "parameters": {
        "toolDescription": "Downloads a dataset file from a direct URL and saves it into /app/data inside the container. \nUseful for loading Kaggle datasets, zip archives, CSV files, and other downloadable datasets before processing them with Python or AI agents.\n\nThis tool should be used when the task requires:\n- downloading a dataset from a provided link\n- saving external files for further analysis\n- preparing data for ML pipelines\n- loading Kaggle dataset archives into the working environment\n\nInput:\n{\n  \"url\": \"string, required — direct download link to the dataset\",\n  \"filename\": \"string, optional — custom filename to save as inside /app/data\"\n}\n\nExample:\n{\n  \"url\": \"https://www.kaggle.com/api/v1/datasets/download/asifxzaman/global-ai-vs-human-content-dataset-2026\",\n  \"filename\": \"global-ai-vs-human-content-dataset-2026.zip\"\n}",
        "method": "POST",
        "url": "http://fastapi:8000/data/download",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "url",
              "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters0_Value', ``, 'string') }}"
            },
            {
              "name": "filename",
              "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters1_Value', ``, 'string') }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.4,
      "position": [
        -112,
        192
      ],
      "id": "e61347c9-d2a1-4872-a47f-a7657d47a835",
      "name": "Download dataset"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are a data cleaning agent. Your task is to handle missing values in a dataset.\nUse EXEC tool to access Python and server. ALL DATA OPERATIONS MUST BE DONE VIA EXEC TOOL ONLY.\n\nINPUT: path to a dataset file (CSV)\n\nSTRICT RULES:\n- NEVER write, invent, or fabricate any data values yourself\n- NEVER hardcode any values — always compute them from the data (median, mode, etc.)\n- NEVER output data rows or cell values in your text\n- ALL operations (fill, drop, save) must happen inside EXEC tool code only\n- Do NOT stop mid-way — always complete all steps and return final JSON\n- ALWAYS check column dtype before filling — never apply median to non-numeric columns\n- DO NOT DELETE COLUMNS unless completely useless (like 'Unnamed: 0')\n- ALL missing text/categorical values MUST be filled with \"Unknown\" — never use mode() or generated text for object columns\n\nINSTRUCTIONS:\n\n1. Use EXEC tool to load and inspect:\n   import pandas as pd\n   import os\n   df = pd.read_csv(\"<input_path>\")\n   print(df.info())\n   print(df.isnull().sum())\n   print(df.dtypes)\n\n2. Use EXEC tool to clean — use this exact pattern:\n   for col in df.columns:\n       missing_pct = df[col].isnull().mean() * 100\n       if missing_pct == 0:\n           continue\n       elif col in ['Unnamed: 0'] or 'unnamed' in col.lower():\n           df = df.drop(columns=[col])\n       elif missing_pct > 30:\n           df = df.drop(columns=[col])\n       elif pd.api.types.is_bool_dtype(df[col]):\n           df[col] = df[col].fillna(df[col].mode()[0])\n       elif pd.api.types.is_numeric_dtype(df[col]):\n           df[col] = df[col].fillna(df[col].median())\n       elif pd.api.types.is_object_dtype(df[col]):\n           df[col] = df[col].fillna(\"Unknown\")\n       else:\n           df[col] = df[col].fillna(\"Unknown\")\n\n   # Drop entirely empty rows\n   df = df.dropna(how='all')\n\n   # Drop rows with missing target\n   if 'label' in df.columns:\n       df = df.dropna(subset=['label'])\n\n   print(df.isnull().sum())\n   print(df.shape)\n\n3. Use EXEC tool to save:\n   df.to_csv(\"/app/data/cleaned_dataset.csv\", index=False)\n   assert os.path.exists(\"/app/data/cleaned_dataset.csv\"), \"File not saved!\"\n   print(f\"Saved: /app/data/cleaned_dataset.csv, size: {os.path.getsize('/app/data/cleaned_dataset.csv')} bytes\")\n\n4. Use EXEC tool to verify:\n   df_check = pd.read_csv(\"/app/data/cleaned_dataset.csv\")\n   print(df_check.isnull().sum())\n   print(df_check.shape)\n\n5. STOP and return final JSON immediately:\n{\n  \"dataset_path\": \"/app/data/cleaned_dataset.csv\"\n}\n\nInput: {{ $json.output }}\n\nAFTER SAVING FILE — DO NOT RUN ANY MORE CODE. RETURN JSON IMMEDIATELY.",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        512,
        -64
      ],
      "id": "9e227414-d56d-46ce-8634-48c207a3c955",
      "name": "Dropper agent"
    }
  ],
  "pinData": {},
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "Downloader AGENT",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "@tool EXEC": {
      "ai_tool": [
        [
          {
            "node": "Downloader AGENT",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "@tool GET FILES": {
      "ai_tool": [
        [
          {
            "node": "Downloader AGENT",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Downloader AGENT": {
      "main": [
        [
          {
            "node": "Dropper agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gemma4": {
      "ai_languageModel": [
        [
          {
            "node": "Downloader AGENT",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "qwen3-coder": {
      "ai_languageModel": [
        [
          {
            "node": "Dropper agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "@tool EXEC1": {
      "ai_tool": [
        [
          {
            "node": "Dropper agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "Downloader AGENT",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory1": {
      "ai_memory": [
        [
          {
            "node": "Dropper agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Download dataset": {
      "ai_tool": [
        [
          {
            "node": "Downloader AGENT",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "485da515-4318-4476-8ded-0527a90eb21a",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "448ac833fd3e70a1638f7923f54c0cefb8016acb285d5c84b2d2100f6980c11e"
  },
  "id": "ILgV6nq94WxVeacz",
  "tags": []
}