n8n/workflows/FE v7.json
{
  "name": "My workflow 3",
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.4,
      "position": [
        -624,
        -64
      ],
      "id": "43ea6614-d423-491f-965e-29c30d57a4f9",
      "name": "When chat message received",
      "webhookId": "3bb3e430-d848-41b7-9c0b-799876e5a169"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://fastapi:8000/execute",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "code",
              "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters0_Value', `Python code to execute`, 'string') }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.4,
      "position": [
        240,
        192
      ],
      "id": "ff2b8af3-d51e-44db-9814-b865354de646",
      "name": "@tool EXEC"
    },
    {
      "parameters": {
        "toolDescription": "Returns list of datasets",
        "url": "http://fastapi:8000/data/files",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.4,
      "position": [
        64,
        192
      ],
      "id": "7a864732-17e1-4dcb-9aef-58bd82521b12",
      "name": "@tool GET FILES"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are a file download agent. Your task is to download a dataset from the provided URL.\n\nYou have access to these tools:\n- DOWNLOAD TOOL (POST /data/download) — downloads a file by URL into /app/data\n- EXEC tool — executes Python code\n\nInstructions:\n\n1. Use DOWNLOAD TOOL to download the file:\n   POST /data/download\n   {\n     \"url\": \"<URL from input>\",\n     \"filename\": \"dataset.zip\"\n   }\n   Check that response has \"success\": true\n\n2. If the downloaded file is a zip archive — extract it using EXEC tool:\n   import os, zipfile\n   output = \"/app/data/dataset.zip\"\n   if zipfile.is_zipfile(output):\n       with zipfile.ZipFile(output, \"r\") as z:\n           z.extractall(\"/app/data\")\n       os.remove(output)\n   print(os.listdir(\"/app/data\"))\n\n3. Verify CSV files exist:\n   files = [f for f in os.listdir(\"/app/data\") if f.endswith(\".csv\")]\n   assert len(files) > 0, \"No CSV found — retry!\"\n\n4. Return ONLY this JSON (no other text) USING TOOL \"GET FILES\":\n{\n  \"dataset_path\": \"/app/data/file1.csv, /app/data/file2.csv\"\n}\n\nURL: {{ $json.chatInput }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        -160,
        -64
      ],
      "id": "5a7faac5-5f8c-46c6-aa35-79f22316dc0e",
      "name": "Downloader AGENT"
    },
    {
      "parameters": {
        "model": "gemma4:31b",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
      "typeVersion": 1,
      "position": [
        -464,
        192
      ],
      "id": "d8fc374a-3af2-46bc-8c4d-4b3123e512f0",
      "name": "Gemma4",
      "credentials": {
        "ollamaApi": {
          "id": "K3ZYQX7oQlYxbRn2",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {
        "toolDescription": "Use this tool to use server environment, analyze datasets, save datasets locally\n\n",
        "method": "POST",
        "url": "http://fastapi:8000/execute",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "code",
              "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters0_Value', `Python code to execute`, 'string') }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.4,
      "position": [
        752,
        160
      ],
      "id": "41640115-ad4a-419d-a0c9-b713dd5e6c81",
      "name": "@tool EXEC1"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -272,
        192
      ],
      "id": "797962e3-41c7-4e8e-a2ee-c6f4b5a46183",
      "name": "Simple Memory"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        1216,
        160
      ],
      "id": "6f72432f-096d-42f5-9b55-df06ba053939",
      "name": "Simple Memory1"
    },
    {
      "parameters": {
        "toolDescription": "Downloads a dataset file from a direct URL and saves it into /app/data inside the container. \nUseful for loading Kaggle datasets, zip archives, CSV files, and other downloadable datasets before processing them with Python or AI agents.\n\nThis tool should be used when the task requires:\n- downloading a dataset from a provided link\n- saving external files for further analysis\n- preparing data for ML pipelines\n- loading Kaggle dataset archives into the working environment\n\nInput:\n{\n  \"url\": \"string, required — direct download link to the dataset\",\n  \"filename\": \"string, optional — custom filename to save as inside /app/data\"\n}\n\nExample:\n{\n  \"url\": \"https://www.kaggle.com/api/v1/datasets/download/asifxzaman/global-ai-vs-human-content-dataset-2026\",\n  \"filename\": \"global-ai-vs-human-content-dataset-2026.zip\"\n}",
        "method": "POST",
        "url": "http://fastapi:8000/data/download",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "url",
              "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters0_Value', ``, 'string') }}"
            },
            {
              "name": "filename",
              "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters1_Value', ``, 'string') }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.4,
      "position": [
        -112,
        192
      ],
      "id": "e61347c9-d2a1-4872-a47f-a7657d47a835",
      "name": "Download dataset"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=\nYou are a data cleaning agent. Your task is to handle missing values in a dataset.\nUse EXEC tool to access Python and server. ALL DATA OPERATIONS MUST BE DONE VIA EXEC TOOL ONLY.\n\nINPUT: path to a dataset file (CSV)\n\nSTRICT RULES:\n- NEVER write, invent, or fabricate any data values yourself\n- NEVER hardcode any values — always compute them from the data (median, mode, etc.)\n- NEVER output data rows or cell values in your text\n- ALL operations (fill, drop, save) must happen inside EXEC tool code only\n- Do NOT stop mid-way — always complete all steps and return final JSON\n- ALWAYS check column dtype before filling — never apply median to non-numeric columns\n- NEVER DROP COLUMNS — the only exception is ID columns and Unnamed index columns\n- NEVER drop columns due to high missing percentage — fill them instead\n- ALL missing text/categorical values MUST be filled with \"Unknown\"\n- ALL missing numeric values MUST be filled with median\n- ALL missing bool values MUST be filled with mode\n\nINSTRUCTIONS:\n\n1. Use EXEC tool to load and inspect:\n   import pandas as pd\n   import os\n   df = pd.read_csv(\"<input_path>\")\n   print(df.info())\n   print(df.isnull().sum())\n   print(df.dtypes)\n\n2. Use EXEC tool to clean — use this exact pattern:\n   decisions = {}\n\n   # STEP 1: Drop only ID and Unnamed columns — nothing else\n   id_keywords = ['unnamed', 'row_id', 'index']\n   id_exact = ['id', 'Unnamed: 0']\n   cols_to_drop = [\n       col for col in df.columns\n       if col in id_exact\n       or col.lower() in id_keywords\n       or col.strip().lower() == 'id'\n   ]\n   for col in cols_to_drop:\n       df = df.drop(columns=[col])\n       decisions[col] = \"DROPPED — ID or index column\"\n\n   # STEP 2: Fill missing values — DO NOT drop any column\n   for col in df.columns:\n       missing_pct = df[col].isnull().mean() * 100\n       if missing_pct == 0:\n           continue\n       elif pd.api.types.is_bool_dtype(df[col]):\n           df[col] = df[col].fillna(df[col].mode()[0])\n           decisions[col] = f\"FILLED with mode — {missing_pct:.1f}% missing (bool)\"\n       elif pd.api.types.is_numeric_dtype(df[col]):\n           df[col] = df[col].fillna(df[col].median())\n           decisions[col] = f\"FILLED with median — {missing_pct:.1f}% missing (numeric)\"\n       elif pd.api.types.is_object_dtype(df[col]):\n           df[col] = df[col].fillna(\"Unknown\")\n           decisions[col] = f\"FILLED with 'Unknown' — {missing_pct:.1f}% missing (text)\"\n       else:\n           df[col] = df[col].fillna(\"Unknown\")\n           decisions[col] = f\"FILLED with 'Unknown' — {missing_pct:.1f}% missing (other)\"\n\n   # STEP 3: Drop entirely empty rows only\n   empty_before = len(df)\n   df = df.dropna(how='all')\n   decisions['_empty_rows'] = f\"DROPPED {empty_before - len(df)} fully empty rows\"\n\n   # STEP 4: Drop rows with missing target\n   if 'label' in df.columns:\n       before = len(df)\n       df = df.dropna(subset=['label'])\n       decisions['label_rows'] = f\"DROPPED {before - len(df)} rows with missing target\"\n\n   print(df.isnull().sum())\n   print(df.shape)\n   print(\"DECISIONS:\", decisions)\n\n3. Use EXEC tool to save:\n   df.to_csv(\"/app/data/cleaned_dataset.csv\", index=False)\n   assert os.path.exists(\"/app/data/cleaned_dataset.csv\"), \"File not saved!\"\n   print(f\"Saved: /app/data/cleaned_dataset.csv, size: {os.path.getsize('/app/data/cleaned_dataset.csv')} bytes\")\n\n4. Use EXEC tool to verify:\n   df_check = pd.read_csv(\"/app/data/cleaned_dataset.csv\")\n   print(df_check.isnull().sum())\n   print(df_check.shape)\n\n5. STOP and return final JSON immediately + short summary:\n{\n  \"dataset_path\": \"/app/data/cleaned_dataset.csv\",\n  \"shape_before\": \"<rows>x<cols>\",\n  \"shape_after\": \"<rows>x<cols>\",\n  \"decisions\": {\n    \"<column>\": \"<action and reason>\"\n  }\n}\n\nThen write 3-5 sentences summary: what was found, what was dropped, what was filled and how.\n\nInput: {{ $json.output }}\n\nAFTER SAVING FILE — DO NOT RUN ANY MORE CODE. RETURN JSON AND SUMMARY IMMEDIATELY.",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        512,
        -64
      ],
      "id": "9e227414-d56d-46ce-8634-48c207a3c955",
      "name": "Cleaning Agent"
    },
    {
      "parameters": {
        "model": "gemma4:31b",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
      "typeVersion": 1,
      "position": [
        1040,
        128
      ],
      "id": "e0fa5ed3-b63e-45db-ab03-e25f387e7dcf",
      "name": "Ollama Chat Model",
      "credentials": {
        "ollamaApi": {
          "id": "K3ZYQX7oQlYxbRn2",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {
        "model": "gemma4:31b",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
      "typeVersion": 1,
      "position": [
        448,
        160
      ],
      "id": "3e7190f2-85d6-4efe-8b53-2efe10be71d3",
      "name": "Gemma",
      "credentials": {
        "ollamaApi": {
          "id": "K3ZYQX7oQlYxbRn2",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        592,
        160
      ],
      "id": "46e4049c-6f64-433a-ac7d-2c7c8170ea37",
      "name": "Simple Memory2"
    },
    {
      "parameters": {
        "toolDescription": "Use this tool to use server environment, analyze datasets, save datasets locally\n\n",
        "method": "POST",
        "url": "http://fastapi:8000/execute",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "code",
              "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters0_Value', `Python code to execute`, 'string') }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.4,
      "position": [
        1424,
        160
      ],
      "id": "43acee06-c7ec-456e-b9ab-c0517331ffa6",
      "name": "@tool EXEC2"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are a data analysis agent.\n\nPerform fast univariate EDA on a cleaned CSV dataset.\n\nUse EXEC tool only for:\n- loading data\n- calculations\n- visualizations\n- saving files\n\nINPUT:\n{{ $json.output }}\n\nRULES:\n- Never fabricate results\n- Save all plots as PNG in /app/data/plots/\n- Do not use LabelEncoder for full text columns\n- Do not treat target column (label/target/class) as a normal feature\n- Return only final JSON after analysis\n\nTASKS:\n\n1. Load dataset\n- read CSV\n- get shape, columns, dtypes\n- check missing values\n\n2. Detect columns:\n- numeric\n- categorical (low-cardinality)\n- text (long/high-cardinality text)\n- target column if exists\n\n3. Numeric analysis:\n- basic statistics\n- outlier detection (IQR). If outliers were detected in a column, remember the final objective of your work, then decide if the outliers are useful for your research, or obstruct it. If you concider outliers redundant, delete the rows where outliers are detected in this column. Do this analisys for every numeric column.\n- scale all numeric columns using Standard Scaler.\n- histogram + boxplot + violin plot\n\n4. Categorical analysis:\n- value counts\n- top categories\n- pie chart or bar chart\n- if values in a column have a natural order (like 'small', 'normal', 'large'), use Ordinal Encoding to transform the column. In all other cases, use One Hot Encoding to transform the column. If a column has more than 10 unique values (categories), arrange the values in descending order of occurrence, leave 10 most common values as they are, and all least common values as \"Other\", then use One Hot Encoding. New column/columns must be added to the dataset, the initial column must be dropped.\n\n5. Text analysis:\n- average text length\n- text length histogram\n- Using GET EMBS, code the text features. New columns (embeddings) must be added to the dataset, the initial column must be dropped.\n\n6. Target analysis:\n- class balance\n- target distribution plot\n\n7. Save all plots\n\n8. Return final JSON with:\n- dataset shape\n- numeric columns\n- categorical columns\n- text columns\n- target column\n- outlier summary\n- categorical summary\n- text summary\n- target summary\n- saved plot files\n- warnings if leakage risk exists\n\nDO NOT WRITE like: \"Calling _tool_EXEC2 with input\", call tools instead\n\nSTOP after returning JSON\n",
        "options": {
          "maxIterations": 20,
          "returnIntermediateSteps": true
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        1200,
        -64
      ],
      "id": "065bbed8-3fb4-415b-91e5-abb937a2875c",
      "name": "Uni variate"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        1776,
        288
      ],
      "id": "bb092f70-d98e-44a8-b59a-6929d1966d81",
      "name": "Simple Memory3"
    },
    {
      "parameters": {
        "model": "gemma4:31b",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
      "typeVersion": 1,
      "position": [
        1648,
        144
      ],
      "id": "af6ed739-95ec-4b40-bcee-6237c4f56dd8",
      "name": "Ollama Chat Model1",
      "credentials": {
        "ollamaApi": {
          "id": "K3ZYQX7oQlYxbRn2",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {
        "toolDescription": "Use this tool to use python on server\n\n",
        "method": "POST",
        "url": "http://fastapi:8000/execute",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "code",
              "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters0_Value', `Python code to execute`, 'string') }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.4,
      "position": [
        1904,
        144
      ],
      "id": "ed5028cd-1921-4867-ad65-b2eca26a17b5",
      "name": "@tool EXEC3"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are a data analysis agent.\nDo bivariate analysis on a cleaned dataset using ONLY EXEC tool.\n\nInput CSV path:\n{{ $('Cleaning Agent').item.json.output }}\n\nRules\nAll code runs ONLY in EXEC\nDo NOT fabricate anything\nSave all plots to: /app/data/plots/bivariate/\nFinish fully and return final JSON + short insight text\nSteps\n1. Load data + setup\nimport pandas, numpy, matplotlib (Agg), seaborn, os\nimport PCA from sklearn.decomposition\nimport StandardScaler from sklearn.preprocessing\ncreate plots folder\nread CSV\nsplit numeric and categorical columns\nprint dataset shape and columns\n2. Correlations\ncompute Pearson + Spearman matrices\nprint both\ncreate and save 2 heatmaps:\npearson_heatmap.png\nspearman_heatmap.png\n3. Pairplot\nuse all numeric columns\nif target exists  and is categorical (or previously encoded categorical) — use as hue\nsave pairplot.png\n4. PCA visualization (2D)\n\nPerform PCA on numeric features:\n\nuse numeric columns only\ndrop rows with missing values in numeric features\nstandardize features using StandardScaler\nreduce dimensions to 2 using PCA\n\nCreate scatter plot:\n\nX axis → PCA component 1\nY axis → PCA component 2\n\nAdditionally encode up to 2 extra features:\n\ncolor — target column if exists\nsize — PCA component 3\n\nRequirements:\n\nlegend is REQUIRED\naxis labels must include explained variance ratio\ntitle: PCA Visualization\nsave as:\npca_visualization.png\n\nIf there are no categorical columns:\n\nuse default color grouping\nstill create PCA plot\n\nPrint explained variance ratio.\n\n5. Correlation report\n\nFor each numeric pair:\n\ncompute Pearson + Spearman\nclassify:\nextra strong  ≥ 0.9\nstrong ≥ 0.8\nmoderate ≥ 0.6\nweak < 0.6\nstore results\n6. Scatter plots\n\nFor pairs with |Pearson| ≥ 0.6\n\nsave scatter plot for each pair\n7. List saved files\n\nPrint all files from /app/data/plots/bivariate\n\nFinal output (NO MORE CODE AFTER THIS)\n\nReturn JSON:\n\nplots_dir\nplots list\nnumeric_columns\ncorrelation_report\nstrong_pairs\nmoderate_pairs\nweak_pairs\npca_explained_variance\npca_features_used\n\nThen write 5–7 sentences:\n\nstrongest and weakest relationships\nlinear vs non-linear patterns\npairplot insights\nPCA cluster structure\nmulticollinearity risks\nExecution rule\n\nStart immediately.\nNo explanations.\nNo planning.\nNo prefaces.\n\nCRITICAL BEHAVIOR RULES: - DO NOT describe what you are going to do - DO NOT write \"I will now...\", \"Let me...\", \"I'll start by...\", \"Next I will...\" - DO NOT announce steps before executing them - JUST EXECUTE — call EXEC tool immediately without any preamble - After all tools are done — return final JSON and description IMMEDIATELY",
        "options": {
          "maxIterations": 20,
          "returnIntermediateSteps": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        1680,
        -64
      ],
      "id": "a3a7b2fd-73ed-497a-a194-4d7f6445b6e7",
      "name": "Bi variate"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Сделай Feature Selection и Feature Extraction по инструкциям ниже:\n\nFeature extraction:\n\n1) используй информацию, полученную на предыдущих этапах: какие признаки есть в датасете, что они обозначают, как они были закодированы, каковы корреляции между ними. Подумай, какие их признаков выгодно использовать в комбинации, а какие нет\n2) предложи 5 новых признаков, которые можно создать из исходных признаков в датасете. Используй математические операции, комбинации из нескольких признаков. Следи, чтобы новые признаки имели смысл.\n3) выбери 2+ наилучших из 5 признаков. Признак является ценным если он информативен, может продемонстрировать большую полезность, чем исходные признаки, на основе которых он создан, в контексте поставленной задачи, и не имеет внутренних проблем (например не может давать некорректные значения из-за деления на 0). Добавь эти признаки в датсет и удали признаки, которые использовались для создания новых признаков.\n\nFeature selection:\n\n1) Найди корреляции между новыми признаками, созданными в рамках Feature extraction, и всеми исходными признаками. Используй эту информацию, и информацию, полученную на предыдущих этапах: какие признаки остались в датасете, что они обозначают, как они были закодированы, каковы корреляции между ними. \n2) Проанализируй, какие признаки могут создавать проблему мультиколлинеарности. Из этих признаков выбери те, которые следует удалить, и удали их\n3) Проверь, остались ли в датасете избыточные признаки, не являющиеся информативными и не несущие ценности в рамках решаемой задачи. Если есть, удали их.\n\nдатасет по пути:  {{ $('Cleaning Agent').item.json.output }}\n\nСохрани датасет в ту же папку, вызвав EXEC Tool с pd.to_csv()\nИспользую тул GET FILES проверь, что ты реально сохранил датасет по тому пути.\n\n\n\nв качестве ответа дай путь нового датасета и определи задачу машинного обучения, для которой он будет использоваться\n\nответ в формате \n\n{\n\"dataset_path\": path\n\"ML_task\": classification/regression/clusterization/\n\"Description\": описание фич инжениринга\n}\n",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        2160,
        -64
      ],
      "id": "5c99ff7b-debe-4b4d-a501-cf4c78fffdb9",
      "name": "Feature Engineering"
    },
    {
      "parameters": {
        "model": "gemma4:31b",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
      "typeVersion": 1,
      "position": [
        2096,
        144
      ],
      "id": "89d5bbb4-f721-437b-89b3-64227b90cb10",
      "name": "Ollama Chat Model2",
      "credentials": {
        "ollamaApi": {
          "id": "K3ZYQX7oQlYxbRn2",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        2240,
        272
      ],
      "id": "c8824ffa-00ae-476a-84ad-34695f52982f",
      "name": "Simple Memory4"
    },
    {
      "parameters": {
        "toolDescription": "Use this tool to use python on server\n\n",
        "method": "POST",
        "url": "http://fastapi:8000/execute",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "code",
              "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters0_Value', `Python code to execute`, 'string') }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.4,
      "position": [
        2384,
        144
      ],
      "id": "e8b27cd5-630a-4acd-a295-d66201b2d3c4",
      "name": "@tool EXEC4"
    },
    {
      "parameters": {
        "toolDescription": "Returns list of datasets",
        "url": "http://fastapi:8000/data/files",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.4,
      "position": [
        2560,
        272
      ],
      "id": "01ba391e-b63b-48b1-9afd-b3a6deeafd25",
      "name": "@tool GET FILES1"
    },
    {
      "parameters": {
        "text": "={{ $json.output }}",
        "schemaType": "fromJson",
        "jsonSchemaExample": "{\n\t\"ML_task\": \"Classification\"\n}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.informationExtractor",
      "typeVersion": 1.2,
      "position": [
        2704,
        -64
      ],
      "id": "815cbeeb-090b-4319-b314-8577c6cbb9de",
      "name": "Information Extractor"
    },
    {
      "parameters": {
        "model": "rnj-1:8b",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmOllama",
      "typeVersion": 1,
      "position": [
        2704,
        144
      ],
      "id": "ba6e8727-a5c1-46e3-9444-611935c165eb",
      "name": "Ollama Model",
      "credentials": {
        "ollamaApi": {
          "id": "K3ZYQX7oQlYxbRn2",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.output.ML_task }}",
                    "rightValue": "classification",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "198881cc-c3e2-4ecc-b942-7a16fbc4f89b"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "classification"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "c2924c95-5eb0-431d-896d-b1e5b228d081",
                    "leftValue": "={{ $json.output.ML_task }}",
                    "rightValue": "regression",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "regression"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "debb8363-9522-4b3c-b765-17defa671668",
                    "leftValue": "={{ $json.output.ML_task }}",
                    "rightValue": "clusterization",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "clusterization"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        3152,
        -80
      ],
      "id": "efb6e62d-9fd7-440e-be84-033739e22110",
      "name": "Switch"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        3424,
        -224
      ],
      "id": "a5f55166-91b6-4949-9240-0cc9e4304d91",
      "name": "No Operation, do nothing"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        3440,
        -32
      ],
      "id": "47092a35-adf0-4007-b1fa-d4b0cdb91007",
      "name": "No Operation, do nothing1"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        3440,
        208
      ],
      "id": "cc5c0462-c41c-4ef2-91c1-c5a861fc9ae9",
      "name": "No Operation, do nothing2"
    }
  ],
  "pinData": {},
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "Downloader AGENT",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "@tool EXEC": {
      "ai_tool": [
        [
          {
            "node": "Downloader AGENT",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "@tool GET FILES": {
      "ai_tool": [
        [
          {
            "node": "Downloader AGENT",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Downloader AGENT": {
      "main": [
        [
          {
            "node": "Cleaning Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gemma4": {
      "ai_languageModel": [
        [
          {
            "node": "Downloader AGENT",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "@tool EXEC1": {
      "ai_tool": [
        [
          {
            "node": "Cleaning Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "Downloader AGENT",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory1": {
      "ai_memory": [
        [
          {
            "node": "Uni variate",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Download dataset": {
      "ai_tool": [
        [
          {
            "node": "Downloader AGENT",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Cleaning Agent": {
      "main": [
        [
          {
            "node": "Uni variate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ollama Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Uni variate",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Gemma": {
      "ai_languageModel": [
        [
          {
            "node": "Cleaning Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory2": {
      "ai_memory": [
        [
          {
            "node": "Cleaning Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "@tool EXEC2": {
      "ai_tool": [
        [
          {
            "node": "Uni variate",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Uni variate": {
      "main": [
        [
          {
            "node": "Bi variate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory3": {
      "ai_memory": [
        [
          {
            "node": "Bi variate",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Ollama Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Bi variate",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "@tool EXEC3": {
      "ai_tool": [
        [
          {
            "node": "Bi variate",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Bi variate": {
      "main": [
        [
          {
            "node": "Feature Engineering",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ollama Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "Feature Engineering",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory4": {
      "ai_memory": [
        [
          {
            "node": "Feature Engineering",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "@tool EXEC4": {
      "ai_tool": [
        [
          {
            "node": "Feature Engineering",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "@tool GET FILES1": {
      "ai_tool": [
        [
          {
            "node": "Feature Engineering",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Feature Engineering": {
      "main": [
        [
          {
            "node": "Information Extractor",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ollama Model": {
      "ai_languageModel": [
        [
          {
            "node": "Information Extractor",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Information Extractor": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Operation, do nothing1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Operation, do nothing2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "aadf6930-503d-4457-81fe-ea97ef9a0955",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "448ac833fd3e70a1638f7923f54c0cefb8016acb285d5c84b2d2100f6980c11e"
  },
  "id": "ILgV6nq94WxVeacz",
  "tags": []
}