n8n/workflows/univariate_v4.json
{
  "name": "My workflow 3",
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.4,
      "position": [
        -624,
        -64
      ],
      "id": "43ea6614-d423-491f-965e-29c30d57a4f9",
      "name": "When chat message received",
      "webhookId": "3bb3e430-d848-41b7-9c0b-799876e5a169"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://fastapi:8000/execute",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "code",
              "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters0_Value', `Python code to execute`, 'string') }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.4,
      "position": [
        240,
        192
      ],
      "id": "ff2b8af3-d51e-44db-9814-b865354de646",
      "name": "@tool EXEC"
    },
    {
      "parameters": {
        "toolDescription": "Returns list of datasets",
        "url": "http://fastapi:8000/data/files",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.4,
      "position": [
        64,
        192
      ],
      "id": "7a864732-17e1-4dcb-9aef-58bd82521b12",
      "name": "@tool GET FILES"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are a file download agent. Your task is to download a dataset from the provided URL.\n\nYou have access to these tools:\n- DOWNLOAD TOOL (POST /data/download) — downloads a file by URL into /app/data\n- EXEC tool — executes Python code\n\nInstructions:\n\n1. Use DOWNLOAD TOOL to download the file:\n   POST /data/download\n   {\n     \"url\": \"<URL from input>\",\n     \"filename\": \"dataset.zip\"\n   }\n   Check that response has \"success\": true\n\n2. If the downloaded file is a zip archive — extract it using EXEC tool:\n   import os, zipfile\n   output = \"/app/data/dataset.zip\"\n   if zipfile.is_zipfile(output):\n       with zipfile.ZipFile(output, \"r\") as z:\n           z.extractall(\"/app/data\")\n       os.remove(output)\n   print(os.listdir(\"/app/data\"))\n\n3. Verify CSV files exist:\n   files = [f for f in os.listdir(\"/app/data\") if f.endswith(\".csv\")]\n   assert len(files) > 0, \"No CSV found — retry!\"\n\n4. Return ONLY this JSON (no other text) USING TOOL \"GET FILES\":\n{\n  \"dataset_path\": \"/app/data/file1.csv, /app/data/file2.csv\"\n}\n\nURL: {{ $json.chatInput }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        -160,
        -64
      ],
      "id": "5a7faac5-5f8c-46c6-aa35-79f22316dc0e",
      "name": "Downloader AGENT"
    },
    {
      "parameters": {
        "model": "gemma4:31b",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
      "typeVersion": 1,
      "position": [
        -464,
        192
      ],
      "id": "d8fc374a-3af2-46bc-8c4d-4b3123e512f0",
      "name": "Gemma4",
      "credentials": {
        "ollamaApi": {
          "id": "K3ZYQX7oQlYxbRn2",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {
        "toolDescription": "Use this tool to use server environment, analyze datasets, save datasets locally\n\n",
        "method": "POST",
        "url": "http://fastapi:8000/execute",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "code",
              "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters0_Value', `Python code to execute`, 'string') }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.4,
      "position": [
        752,
        160
      ],
      "id": "41640115-ad4a-419d-a0c9-b713dd5e6c81",
      "name": "@tool EXEC1"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -288,
        192
      ],
      "id": "797962e3-41c7-4e8e-a2ee-c6f4b5a46183",
      "name": "Simple Memory"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        1296,
        448
      ],
      "id": "6f72432f-096d-42f5-9b55-df06ba053939",
      "name": "Simple Memory1"
    },
    {
      "parameters": {
        "toolDescription": "Downloads a dataset file from a direct URL and saves it into /app/data inside the container. \nUseful for loading Kaggle datasets, zip archives, CSV files, and other downloadable datasets before processing them with Python or AI agents.\n\nThis tool should be used when the task requires:\n- downloading a dataset from a provided link\n- saving external files for further analysis\n- preparing data for ML pipelines\n- loading Kaggle dataset archives into the working environment\n\nInput:\n{\n  \"url\": \"string, required — direct download link to the dataset\",\n  \"filename\": \"string, optional — custom filename to save as inside /app/data\"\n}\n\nExample:\n{\n  \"url\": \"https://www.kaggle.com/api/v1/datasets/download/asifxzaman/global-ai-vs-human-content-dataset-2026\",\n  \"filename\": \"global-ai-vs-human-content-dataset-2026.zip\"\n}",
        "method": "POST",
        "url": "http://fastapi:8000/data/download",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "url",
              "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters0_Value', ``, 'string') }}"
            },
            {
              "name": "filename",
              "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters1_Value', ``, 'string') }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.4,
      "position": [
        -112,
        192
      ],
      "id": "e61347c9-d2a1-4872-a47f-a7657d47a835",
      "name": "Download dataset"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=\nYou are a data cleaning agent. Your task is to handle missing values in a dataset.\nUse EXEC tool to access Python and server. ALL DATA OPERATIONS MUST BE DONE VIA EXEC TOOL ONLY.\n\nINPUT: path to a dataset file (CSV)\n\nSTRICT RULES:\n- NEVER write, invent, or fabricate any data values yourself\n- NEVER hardcode any values — always compute them from the data (median, mode, etc.)\n- NEVER output data rows or cell values in your text\n- ALL operations (fill, drop, save) must happen inside EXEC tool code only\n- Do NOT stop mid-way — always complete all steps and return final JSON\n- ALWAYS check column dtype before filling — never apply median to non-numeric columns\n- NEVER DROP COLUMNS — the only exception is ID columns and Unnamed index columns\n- NEVER drop columns due to high missing percentage — fill them instead\n- ALL missing text/categorical values MUST be filled with \"Unknown\"\n- ALL missing numeric values MUST be filled with median\n- ALL missing bool values MUST be filled with mode\n\nINSTRUCTIONS:\n\n1. Use EXEC tool to load and inspect:\n   import pandas as pd\n   import os\n   df = pd.read_csv(\"<input_path>\")\n   print(df.info())\n   print(df.isnull().sum())\n   print(df.dtypes)\n\n2. Use EXEC tool to clean — use this exact pattern:\n   decisions = {}\n\n   # STEP 1: Drop only ID and Unnamed columns — nothing else\n   id_keywords = ['unnamed', 'row_id', 'index']\n   id_exact = ['id', 'Unnamed: 0']\n   cols_to_drop = [\n       col for col in df.columns\n       if col in id_exact\n       or col.lower() in id_keywords\n       or col.strip().lower() == 'id'\n   ]\n   for col in cols_to_drop:\n       df = df.drop(columns=[col])\n       decisions[col] = \"DROPPED — ID or index column\"\n\n   # STEP 2: Fill missing values — DO NOT drop any column\n   for col in df.columns:\n       missing_pct = df[col].isnull().mean() * 100\n       if missing_pct == 0:\n           continue\n       elif pd.api.types.is_bool_dtype(df[col]):\n           df[col] = df[col].fillna(df[col].mode()[0])\n           decisions[col] = f\"FILLED with mode — {missing_pct:.1f}% missing (bool)\"\n       elif pd.api.types.is_numeric_dtype(df[col]):\n           df[col] = df[col].fillna(df[col].median())\n           decisions[col] = f\"FILLED with median — {missing_pct:.1f}% missing (numeric)\"\n       elif pd.api.types.is_object_dtype(df[col]):\n           df[col] = df[col].fillna(\"Unknown\")\n           decisions[col] = f\"FILLED with 'Unknown' — {missing_pct:.1f}% missing (text)\"\n       else:\n           df[col] = df[col].fillna(\"Unknown\")\n           decisions[col] = f\"FILLED with 'Unknown' — {missing_pct:.1f}% missing (other)\"\n\n   # STEP 3: Drop entirely empty rows only\n   empty_before = len(df)\n   df = df.dropna(how='all')\n   decisions['_empty_rows'] = f\"DROPPED {empty_before - len(df)} fully empty rows\"\n\n   # STEP 4: Drop rows with missing target\n   if 'label' in df.columns:\n       before = len(df)\n       df = df.dropna(subset=['label'])\n       decisions['label_rows'] = f\"DROPPED {before - len(df)} rows with missing target\"\n\n   print(df.isnull().sum())\n   print(df.shape)\n   print(\"DECISIONS:\", decisions)\n\n3. Use EXEC tool to save:\n   df.to_csv(\"/app/data/cleaned_dataset.csv\", index=False)\n   assert os.path.exists(\"/app/data/cleaned_dataset.csv\"), \"File not saved!\"\n   print(f\"Saved: /app/data/cleaned_dataset.csv, size: {os.path.getsize('/app/data/cleaned_dataset.csv')} bytes\")\n\n4. Use EXEC tool to verify:\n   df_check = pd.read_csv(\"/app/data/cleaned_dataset.csv\")\n   print(df_check.isnull().sum())\n   print(df_check.shape)\n\n5. STOP and return final JSON immediately + short summary:\n{\n  \"dataset_path\": \"/app/data/cleaned_dataset.csv\",\n  \"shape_before\": \"<rows>x<cols>\",\n  \"shape_after\": \"<rows>x<cols>\",\n  \"decisions\": {\n    \"<column>\": \"<action and reason>\"\n  }\n}\n\nThen write 3-5 sentences summary: what was found, what was dropped, what was filled and how.\n\nInput: {{ $json.output }}\n\nAFTER SAVING FILE — DO NOT RUN ANY MORE CODE. RETURN JSON AND SUMMARY IMMEDIATELY.",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        512,
        -64
      ],
      "id": "9e227414-d56d-46ce-8634-48c207a3c955",
      "name": "Cleaning Agent"
    },
    {
      "parameters": {
        "model": "deepseek-v3.1:671b",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
      "typeVersion": 1,
      "position": [
        1200,
        256
      ],
      "id": "e0fa5ed3-b63e-45db-ab03-e25f387e7dcf",
      "name": "Ollama Chat Model",
      "credentials": {
        "ollamaApi": {
          "id": "K3ZYQX7oQlYxbRn2",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {
        "model": "gemma4:31b",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
      "typeVersion": 1,
      "position": [
        448,
        160
      ],
      "id": "3e7190f2-85d6-4efe-8b53-2efe10be71d3",
      "name": "Gemma",
      "credentials": {
        "ollamaApi": {
          "id": "K3ZYQX7oQlYxbRn2",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        592,
        160
      ],
      "id": "46e4049c-6f64-433a-ac7d-2c7c8170ea37",
      "name": "Simple Memory2"
    },
    {
      "parameters": {
        "toolDescription": "Use this tool to use server environment, analyze datasets, save datasets locally\n\n",
        "method": "POST",
        "url": "http://fastapi:8000/execute",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "code",
              "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters0_Value', `Python code to execute`, 'string') }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.4,
      "position": [
        1392,
        160
      ],
      "id": "43acee06-c7ec-456e-b9ab-c0517331ffa6",
      "name": "@tool EXEC2"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are a data analysis agent.\n\nPerform fast univariate EDA on a cleaned CSV dataset.\n\nUse EXEC tool only for:\n- loading data\n- calculations\n- visualizations\n- saving files\n\nINPUT:\n{{ $json.output }}\n\nRULES:\n- Never fabricate results\n- Save all plots as PNG in /app/data/plots/\n- Do not use LabelEncoder for full text columns\n- Do not treat target column (label/target/class) as a normal feature\n- Do not scale data\n- Return only final JSON after analysis\n\nTASKS:\n\n1. Load dataset\n- read CSV\n- get shape, columns, dtypes\n- check missing values\n\n2. Detect columns:\n- numeric\n- categorical (low-cardinality)\n- text (long/high-cardinality text)\n- target column if exists\n\n3. Numeric analysis:\n- basic statistics\n- outlier detection (IQR)\n- histogram + boxplot\n\n4. Categorical analysis:\n- value counts\n- top categories\n- pie chart or bar chart\n\n5. Text analysis:\n- average text length\n- average word count\n- text length histogram\n\n6. Target analysis:\n- class balance\n- target distribution plot\n\n7. Save all plots\n\n8. Return final JSON with:\n- dataset shape\n- numeric columns\n- categorical columns\n- text columns\n- target column\n- outlier summary\n- categorical summary\n- text summary\n- target summary\n- saved plot files\n- warnings if leakage risk exists\n\nSTOP after returning JSON",
        "options": {
          "maxIterations": 20
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        1200,
        -64
      ],
      "id": "065bbed8-3fb4-415b-91e5-abb937a2875c",
      "name": "Uni variate"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        1776,
        496
      ],
      "id": "bb092f70-d98e-44a8-b59a-6929d1966d81",
      "name": "Simple Memory3"
    },
    {
      "parameters": {
        "model": "deepseek-v3.1:671b",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
      "typeVersion": 1,
      "position": [
        1680,
        304
      ],
      "id": "af6ed739-95ec-4b40-bcee-6237c4f56dd8",
      "name": "Ollama Chat Model1",
      "credentials": {
        "ollamaApi": {
          "id": "K3ZYQX7oQlYxbRn2",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {
        "toolDescription": "Use this tool to use server environment, analyze datasets, save datasets locally\n\n",
        "method": "POST",
        "url": "http://fastapi:8000/execute",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "code",
              "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters0_Value', `Python code to execute`, 'string') }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.4,
      "position": [
        1872,
        208
      ],
      "id": "ed5028cd-1921-4867-ad65-b2eca26a17b5",
      "name": "@tool EXEC3"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are a data analysis agent. Your task is to perform bivariate analysis on a dataset.\nUse EXEC tool to access Python and server. ALL OPERATIONS MUST BE DONE VIA EXEC TOOL ONLY.\n\nINPUT: path to a cleaned dataset file (CSV)\n\nSTRICT RULES:\n- NEVER fabricate data, statistics, or descriptions\n- ALL computations and visualizations must happen inside EXEC tool only\n- Save ALL plots as PNG files to /app/data/plots/bivariate/\n- Do NOT stop mid-way — complete all steps and return final JSON\n\nINSTRUCTIONS:\n\n1. Use EXEC tool to load and inspect:\n   import pandas as pd\n   import numpy as np\n   import os\n   import matplotlib\n   matplotlib.use('Agg')\n   import matplotlib.pyplot as plt\n   import seaborn as sns\n\n   os.makedirs(\"/app/data/plots/bivariate\", exist_ok=True)\n   df = pd.read_csv(\"<input_path>\")\n   numeric_cols = df.select_dtypes(include=np.number).columns.tolist()\n   cat_cols = df.select_dtypes(include='object').columns.tolist()\n   print(f\"Numeric columns: {numeric_cols}\")\n   print(f\"Categorical columns: {cat_cols}\")\n   print(df.shape)\n\n2. Use EXEC tool — Pearson correlation matrix + heatmap:\n   corr_pearson = df[numeric_cols].corr(method='pearson')\n   print(\"Pearson correlation matrix:\")\n   print(corr_pearson)\n\n   plt.figure(figsize=(12, 10))\n   sns.heatmap(corr_pearson, annot=True, fmt=\".2f\", cmap=\"coolwarm\", center=0,\n               square=True, linewidths=0.5)\n   plt.title(\"Pearson Correlation Heatmap\")\n   plt.tight_layout()\n   plt.savefig(\"/app/data/plots/bivariate/pearson_heatmap.png\")\n   plt.close()\n   print(\"Saved: pearson_heatmap.png\")\n\n3. Use EXEC tool — Spearman correlation matrix + heatmap:\n   corr_spearman = df[numeric_cols].corr(method='spearman')\n   print(\"Spearman correlation matrix:\")\n   print(corr_spearman)\n\n   plt.figure(figsize=(12, 10))\n   sns.heatmap(corr_spearman, annot=True, fmt=\".2f\", cmap=\"coolwarm\", center=0,\n               square=True, linewidths=0.5)\n   plt.title(\"Spearman Correlation Heatmap\")\n   plt.tight_layout()\n   plt.savefig(\"/app/data/plots/bivariate/spearman_heatmap.png\")\n   plt.close()\n   print(\"Saved: spearman_heatmap.png\")\n\n4. Use EXEC tool — Pairplot for detecting non-linear dependencies:\n   # Limit to max 6 numeric columns for readability\n   cols_for_pairplot = numeric_cols[:6]\n   pair_df = df[cols_for_pairplot].copy()\n\n   # Add target column if exists and categorical\n   if 'label' in df.columns:\n       pair_df['label'] = df['label'].astype(str)\n       hue_col = 'label'\n   else:\n       hue_col = None\n\n   pairplot = sns.pairplot(pair_df, hue=hue_col, diag_kind='kde', plot_kws={'alpha': 0.5})\n   pairplot.fig.suptitle(\"Pairplot — Non-linear Dependencies\", y=1.02)\n   pairplot.savefig(\"/app/data/plots/bivariate/pairplot.png\")\n   plt.close()\n   print(\"Saved: pairplot.png\")\n\n5. Use EXEC tool — Find and report strong correlations (Pearson):\n   correlation_report = {}\n   for i in range(len(numeric_cols)):\n       for j in range(i+1, len(numeric_cols)):\n           col1, col2 = numeric_cols[i], numeric_cols[j]\n           pearson_val = corr_pearson.loc[col1, col2]\n           spearman_val = corr_spearman.loc[col1, col2]\n           abs_val = abs(pearson_val)\n           if abs_val >= 0.7:\n               strength = \"strong\"\n           elif abs_val >= 0.4:\n               strength = \"moderate\"\n           else:\n               strength = \"weak\"\n           direction = \"positive\" if pearson_val > 0 else \"negative\"\n           correlation_report[f\"{col1} vs {col2}\"] = {\n               \"pearson\": round(float(pearson_val), 4),\n               \"spearman\": round(float(spearman_val), 4),\n               \"strength\": strength,\n               \"direction\": direction\n           }\n   print(\"Correlation report:\", correlation_report)\n\n6. Use EXEC tool — Scatter plots for strong correlations only (pearson > 0.4):\n   strong_pairs = [\n       (pair, info) for pair, info in correlation_report.items()\n       if abs(info[\"pearson\"]) >= 0.4\n   ]\n   for pair, info in strong_pairs:\n       col1, col2 = pair.split(\" vs \")\n       plt.figure(figsize=(8, 6))\n       plt.scatter(df[col1], df[col2], alpha=0.4, s=10)\n       plt.xlabel(col1)\n       plt.ylabel(col2)\n       plt.title(f\"{col1} vs {col2} | Pearson: {info['pearson']} ({info['strength']} {info['direction']})\")\n       plt.tight_layout()\n       safe_name = f\"{col1}_vs_{col2}\".replace(\"/\", \"_\").replace(\" \", \"_\")\n       plt.savefig(f\"/app/data/plots/bivariate/{safe_name}_scatter.png\")\n       plt.close()\n   print(f\"Saved {len(strong_pairs)} scatter plots\")\n\n7. Use EXEC tool — list all saved plots:\n   plots = os.listdir(\"/app/data/plots/bivariate\")\n   print(\"Saved plots:\", plots)\n\n8. STOP and return final JSON + text description:\n{\n  \"plots_dir\": \"/app/data/plots/bivariate\",\n  \"plots\": [\"<list of saved filenames>\"],\n  \"numeric_columns\": [\"<list>\"],\n  \"correlation_report\": {\n    \"<col1> vs <col2>\": {\n      \"pearson\": 0.85,\n      \"spearman\": 0.82,\n      \"strength\": \"strong\",\n      \"direction\": \"positive\"\n    }\n  },\n  \"strong_pairs\": [\"<col1> vs <col2>\"],\n  \"moderate_pairs\": [\"<col1> vs <col2>\"],\n  \"weak_pairs\": [\"<col1> vs <col2>\"]\n}\n\nThen write a short text description (5-7 sentences):\n- Which pairs have strong/moderate/weak correlations\n- Linear vs non-linear dependencies observed\n- Key insights from the pairplot\n- Any multicollinearity concerns\n\nInput: {{ $json.output }}\n\nAFTER SAVING ALL FILES — DO NOT RUN ANY MORE CODE. RETURN JSON AND DESCRIPTION IMMEDIATELY.",
        "options": {
          "maxIterations": 20
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        1680,
        -64
      ],
      "id": "a3a7b2fd-73ed-497a-a194-4d7f6445b6e7",
      "name": "Bi variate"
    }
  ],
  "pinData": {},
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "Downloader AGENT",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "@tool EXEC": {
      "ai_tool": [
        [
          {
            "node": "Downloader AGENT",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "@tool GET FILES": {
      "ai_tool": [
        [
          {
            "node": "Downloader AGENT",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Downloader AGENT": {
      "main": [
        [
          {
            "node": "Cleaning Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gemma4": {
      "ai_languageModel": [
        [
          {
            "node": "Downloader AGENT",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "@tool EXEC1": {
      "ai_tool": [
        [
          {
            "node": "Cleaning Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "Downloader AGENT",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory1": {
      "ai_memory": [
        [
          {
            "node": "Uni variate",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Download dataset": {
      "ai_tool": [
        [
          {
            "node": "Downloader AGENT",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Cleaning Agent": {
      "main": [
        [
          {
            "node": "Uni variate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ollama Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Uni variate",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Gemma": {
      "ai_languageModel": [
        [
          {
            "node": "Cleaning Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory2": {
      "ai_memory": [
        [
          {
            "node": "Cleaning Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "@tool EXEC2": {
      "ai_tool": [
        [
          {
            "node": "Uni variate",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Uni variate": {
      "main": [
        [
          {
            "node": "Bi variate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory3": {
      "ai_memory": [
        [
          {
            "node": "Bi variate",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Ollama Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Bi variate",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "@tool EXEC3": {
      "ai_tool": [
        [
          {
            "node": "Bi variate",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "6acc7588-b934-4f4b-b44f-bd0b6681cac9",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "448ac833fd3e70a1638f7923f54c0cefb8016acb285d5c84b2d2100f6980c11e"
  },
  "id": "ILgV6nq94WxVeacz",
  "tags": []
}